CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
CLICKHOUSE_DB=clickhouse
CLICKHOUSE_USER=clickhouse
CLICKHOUSE_PASSWORD=clickhouse
VITE_CLICKHOUSE_USER=${CLICKHOUSE_USER}
VITE_CLICKHOUSE_PASS=${CLICKHOUSE_PASSWORD}
VITE_CLICKHOUSE_URL=http://localhost:18123