AIRFLOW_IMAGE=apache/airflow:3.2.0
AIRFLOW__API_AUTH__JWT_SECRET=dab7c9f88d0619a1be42754c4112772eba3ad67e5f4cb91eb6bf30be439333af
AIRFLOW__API_AUTH__JWT_ISSUER=airflow
_PIP_ADDITIONAL_REQUIREMENTS='minio pymongo pandas requests clickhouse_connect sqlalchemy pyarrow airflow-code-editor black isort fs-s3fs fs-gcsfs'
AIRFLOW_PROJ_DIR='./docker-data/airflow'
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
